<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dragon.cate.dao.mapper.interesting.InterestingGroupLevelMapper">

    <sql id="TABLE_NAME">
        interesting_group_level
    </sql>

    <resultMap type="com.dragon.cate.domain.dbo.interesting.InterestingGroupLevelDO" id="InterestingGroupLevelMap">
        <result property="id" column="id"/>
        <result property="levelSeq" column="level_seq"/>
        <result property="name" column="name"/>
        <result property="touchCount" column="touch_count"/>
        <result property="icon" column="icon"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="InterestingGroupLevelMap">
        select
        * from
        <include refid="TABLE_NAME"/>
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="InterestingGroupLevelMap">
        select
        * from
        <include refid="TABLE_NAME"/>
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="InterestingGroupLevelMap">
        select
        * from
        <include refid="TABLE_NAME"/>
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="levelSeq != null and levelSeq >0">
                and level_seq = #{levelSeq}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="touchCount != null">
                and touch_count = #{touchCount}
            </if>
            <if test="icon != null and icon != ''">
                and icon = #{icon}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into
        <include refid="TABLE_NAME"/>
        (name
        , level_seq
        , touch_count
        , icon
        , create_time
        )
        values
        (#{name}, #{levelSeq}, #{touchCount}, #{icon}, now())
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update
        <include refid="TABLE_NAME"/>
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="levelSeq != null and levelSeq >0">
                and level_seq = #{levelSeq}
            </if>
            <if test="touchCount != null">
                touch_count = #{touchCount},
            </if>
            <if test="icon != null and icon != ''">
                icon = #{icon},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from
        <include refid="TABLE_NAME"/>
        where id = #{id}
    </delete>

</mapper>