<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="titan.wms.common.dao.mapper.basicInfo.VendorMasterMapper">

    <sql id="TABLE_NAME">
        basic_vendor_master
    </sql>

    <sql id="INSERT_ALL_COLUMNS">
        `code`, `name`, `type`, `zip_code`, `contacts`, `cellphone`, `telephone`,
        `fax`, `email`, `located_address`, `return_address`, `is_available`,
        `operator_id`, `create_time`, `update_time`
    </sql>
    <sql id="SELECT_ALL_COLUMNS">
        `id`,
        <include refid="INSERT_ALL_COLUMNS"/>
    </sql>

    <resultMap id="vendorMasterMap" type="VendorMasterDO">
        <result column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="zip_code" property="zipCode"/>
        <result column="contacts" property="contacts"/>
        <result column="cellphone" property="cellphone"/>
        <result column="telephone" property="telephone"/>
        <result column="fax" property="fax"/>
        <result column="email" property="email"/>
        <result column="located_address" property="locatedAddress"/>
        <result column="return_address" property="returnAddress"/>
        <result column="is_available" property="available"/>
        <result column="is_valid" property="valid"/>
        <result column="operator_id" property="operatorId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="addVendorMaster" parameterType="VendorMasterDO" useGeneratedKeys="true" keyProperty="id">
        INSERT into
        <include refid="TABLE_NAME"/>
        (
        <include refid="INSERT_ALL_COLUMNS"/>
        )
        VALUES ( #{code}, #{name}, #{type}, #{zipCode},#{contacts}, #{cellphone},
        #{telephone}, #{fax}, #{email}, #{locatedAddress}, #{returnAddress}, #{available},
        #{operatorId}, now(), now())
    </insert>

    <update id="updateVendorMaster" parameterType="VendorMasterDO">
        UPDATE
        <include refid="TABLE_NAME"/>
        <set>
            <if test="name != null and name !='' ">
                name = #{name},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="zipCode != null and zipCode != '' ">
                zip_code = #{zipCode},
            </if>
            <if test="contacts != null and contacts != '' ">
                contacts = #{contacts},
            </if>
            <if test="cellphone != null and cellphone != ''">
                cellphone = #{cellphone},
            </if>
            <if test="telephone != null and telephone != '' ">
                telephone = #{telephone},
            </if>
            <if test="fax != null and fax !='' ">
                fax = #{fax},
            </if>
            <if test="email != null and email != '' ">
                email = #{email},
            </if>
            <if test="locatedAddress != null and locatedAddress != '' ">
                located_address = #{locatedAddress},
            </if>
            <if test="returnAddress != null and returnAddress !='' ">
                return_address = #{returnAddress},
            </if>
            <if test="available != null">
                is_available = #{available},
            </if>
            <if test="operatorId != null and operatorId != ''">
                operator_id = #{operatorId},
            </if>
            update_time = now()
        </set>
        WHERE  id = #{id}
    </update>

    <select id="queryVendorMaster" parameterType="VendorMasterDO" resultMap="vendorMasterMap">
        SELECT
        <include refid="SELECT_ALL_COLUMNS"/>
        FROM
        <include refid="TABLE_NAME"/>
        WHERE is_valid=true
        <if test="id != null and id != 0">
            and id = #{id}
        </if>
        <if test="name != null and name !=  ''">
            and name = #{name}
        </if>
        <if test="code != null and code != ''">
            and code = #{code}
        </if>
    </select>

    <select id="getById" resultMap="vendorMasterMap">
        SELECT
        <include refid="SELECT_ALL_COLUMNS"/>
        FROM
        <include refid="TABLE_NAME"/>
        WHERE id=#{id} and is_valid = true
    </select>

    <select id="countAll" resultType="java.lang.Integer">
        SELECT count(*) FROM
        <include refid="TABLE_NAME"/>
        <where>
            is_valid = TRUE
            <if test="code != null and code != '' ">
                and code like CONCAT('%', #{code} ,'%')
            </if>
            <if test="name != null and name != '' ">
                and name like CONCAT('%', #{name} ,'%')
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="available != null">
                and is_available = #{available}
            </if>
        </where>
    </select>

    <select id="listVendorMaster" resultMap="vendorMasterMap">
        select * from
        <include refid="TABLE_NAME"/>
        <where>
            is_valid=true
            <if test="code != null and code != ''">
                and code like CONCAT('%', #{code} ,'%')
            </if>
            <if test="name != null and name != ''">
                and name like CONCAT('%', #{name} ,'%')
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="available != null">
                and is_available = #{available}
            </if>
        </where>
        order by id desc limit #{limit} offset #{offset}
    </select>

</mapper>