<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="titan.wms.common.dao.mapper.basicInfo.WmsTransactionMapper">

    <sql id="TABLE_NAME">
        basic_wms_transaction
    </sql>

    <sql id="INSERT_ALL_COLUMNS">
        `transaction_id`, `owner_id`, `stock_id`, `notify_type`, `notify_time`,
        `create_time`, `update_time`
    </sql>
    <sql id="SELECT_ALL_COLUMNS">
        `id`,
        <include refid="INSERT_ALL_COLUMNS"/>
    </sql>

    <resultMap id="wmsTransactionMap" type="WmsTransactionDO">
        <result column="id" property="id"/>
        <result column="transaction_id" property="transactionId"/>
        <result column="owner_id" property="ownerId"/>
        <result column="stock_id" property="stockId"/>
        <result column="notify_type" property="notifyType"/>
        <result column="notify_time" property="notifyTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="addWmsTransaction" parameterType="WmsTransactionDO">
        INSERT into
        <include refid="TABLE_NAME"/>
        (
        <include refid="INSERT_ALL_COLUMNS"/>
        )
        VALUES (#{transactionId}, #{ownerId}, #{stockId},
        #{notifyType}, #{notifyTime}, now(), now())
    </insert>

    <select id="queryWmsTransaction" parameterType="java.lang.String" resultMap="wmsTransactionMap">
        SELECT
        <include refid="SELECT_ALL_COLUMNS"/>
        FROM
        <include refid="TABLE_NAME"/>
        WHERE transaction_id = #{transactionId};
    </select>


</mapper>