<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="titan.wms.common.dao.mapper.basicInfo.WorkStationMapper" >
    <resultMap id="BaseResult" type="WorkStationDO" >
        <result column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="physical_address" property="physicalAddress"/>
        <result column="user_id" property="userId"/>
        <result column="is_enable" property="enable"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="TableName">
        basic_workstation
    </sql>

    <sql id="BaseColumn" >
        `code`,
        `name`,
        `type`,
        `physical_address`,
        `user_id`,
        `is_enable`,
        `remark`,
        `create_time`,
        `update_time`
    </sql>

    <insert id="insert" parameterType="WorkStationDO" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
            <include refid="TableName" /> (<include refid="BaseColumn" />)
        VALUES(
            #{code},
            #{name},
            #{type},
            #{physicalAddress},
            0,
            #{enable},
            #{remark},
            NOW(),
            NOW()
        )
    </insert>

    <update id="updateWorkStationUserByCode">
        UPDATE
            <include refid="TableName" />
        SET
            user_id = #{userId},
            `update_time` = NOW()
        WHERE
            code = #{code}
    </update>

    <update id="updateWorkStation"  parameterType="WorkStationDO">
        UPDATE
            <include refid="TableName" />
        <set>
            <if test="code != null and code != ''"> `code` = #{code}, </if>
            <if test="name != null and name != ''"> `name` = #{name}, </if>
            `physical_address` = #{physicalAddress},
            `remark` = #{remark},
            `type` = #{type},
            `is_enable` = #{enable},
            `update_time` = NOW(),
        </set>
        WHERE
            id = #{id}
    </update>

    <select id="getById" resultMap="BaseResult">
        SELECT
            id, <include refid="BaseColumn" />
        FROM
            <include refid="TableName"/>
        WHERE
            id = #{id}
    </select>

    <select id="getByCode" resultMap="BaseResult">
        SELECT
            id, <include refid="BaseColumn" />
        FROM
            <include refid="TableName"/>
        WHERE
            code = #{code}
    </select>

    <delete id="deleteById">
        DELETE
        FROM
            <include refid="TableName"/>
        WHERE
            id = #{id}
    </delete>

    <select id="getList" resultMap="WorkStationResultMap">
        SELECT
            ws.id, ws.code, ws.name, ws.type, ws.is_enable, ws.physical_address,
            ws.remark, au.account, au.user_name
        FROM
            <include refid="TableName"/> AS ws
        LEFT JOIN
            auth_user AS au
        ON
            ws.user_id = au.id
        WHERE
            1 = 1
            <if test="condition.beginCode != null and condition.beginCode != '' and condition.endCode != null and condition.endCode != ''">
                AND <![CDATA[ ws.code >= #{condition.beginCode} AND ws.code <= #{condition.endCode} ]]>
            </if>
            <if test="condition.name != null and condition.name != ''">
                AND ws.name LIKE CONCAT('%',#{condition.name},'%')
            </if>
            <if test="condition.type != null">
                AND ws.type = #{condition.type}
            </if>
            <if test="condition.enable != null">
                AND ws.is_enable = #{condition.enable}
            </if>
    </select>

    <resultMap id="WorkStationResultMap" type="WorkStationVO">
        <result column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="is_enable" property="enable" />
        <result column="physical_address" property="physicalAddress" />
        <result column="remark" property="remark" />
        <result column="account" property="account" />
        <result column="user_name" property="userName" />
    </resultMap>

    <delete id="batchDeleteById">
        DELETE FROM
            <include refid="TableName" />
        WHERE id IN
            <foreach collection="ids" item="id" index="index" open="(" separator="," close=")">
                #{id}
            </foreach>
    </delete>

    <select id="getBindConveyorBeltIdList" resultType="java.lang.Long">
        SELECT
            cb.id
        FROM
            <include refid="TableName"/> AS ws
        JOIN
            basic_conveyor_belt AS cb
        ON
            ws.physical_address = cb.physical_address
        WHERE ws.id IN
            <foreach collection="ids" item="id" index="index" open="(" separator="," close=")">
                #{id}
            </foreach>
            AND ws.physical_address != ""
    </select>

    <update id="batchEnableById">
        UPDATE
            <include refid="TableName" />
        SET
            is_enable = true
        WHERE id IN
            <foreach collection="ids" item="id" index="index" open="(" separator="," close=")">
                #{id}
            </foreach>
    </update>

    <update id="batchDisableById">
        UPDATE
            <include refid="TableName" />
        SET
            is_enable = false
        WHERE id IN
            <foreach collection="ids" item="id" index="index" open="(" separator="," close=")">
                #{id}
            </foreach>
    </update>
</mapper>