.classpath
.project
.idea/
*.iml
.vscode/
.settings/
WEB-INF/classes/
WEB-INF/lib/
target/
test-output/
log/
logs/
/bin
/test-output
/build
.DS_Store
.mymetadata
.externalToolBuilders
.reviewboardrc
.springBeans
disconf/
node_modules/
/npm-debug.log
haitao-wms-starter/src/main/resources/static/
haitao-wms-starter/src/main/resources/templates/
npm-debug.log