<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="titan.wms.common.dao.mapper.outbound.OrderInventoryStrategyMapper" >
    <resultMap id="BaseResult" type="OrderInventoryStrategyDO" >
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="match_rule" property="matchRule"/>
        <result column="is_enable" property="enable"/>
        <result column="is_prepackage" property="prepackage"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="TableName">
        outbound_order_inventory_strategy
    </sql>

    <sql id="BaseColumn" >
        `name`,
        `match_rule`,
        `is_enable`,
        `is_prepackage`,
        `create_time`,
        `update_time`
    </sql>

    <insert id="insert" parameterType="OrderInventoryStrategyDO" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
          <include refid="TableName" /> (<include refid="BaseColumn" />)
        VALUES(
          #{name},
          #{matchRule},
          #{enable},
          #{prepackage},
          NOW(),
          NOW()
        )
    </insert>

    <select id="getById" resultMap="BaseResult">
        SELECT
          id, <include refid="BaseColumn" />
        FROM
          <include refid="TableName"/>
        WHERE
          id = #{id}
    </select>

    <delete id="deleteById">
        DELETE
        FROM
          <include refid="TableName"/>
        WHERE
          id = #{id}
    </delete>

    <select id="getList" resultMap="BaseResult">
        SELECT
            id, <include refid="BaseColumn" />
        FROM
            <include refid="TableName"/>
        WHERE
            1 = 1
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%',#{name},'%')
            </if>
    </select>
</mapper>