<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.dragon.cate.dao.mapper.shopper.ShopperMapper">

    <sql id="TABLE_NAME">
        shopper_basic_detail
    </sql>

    <sql id="INSERT_ALL_COLUMNS">
        `city_id`, `shopper_title`, `shopper_desc`,
        `shopper_tips`, `store_price`, `favorable_price`,
        `sold_count`, `comment_id`, `latitude`, `longtitude`,
         `create_time`, `update_time`
    </sql>

    <sql id="SELECT_ALL_COLUMNS">
        `id`,
        <include refid="INSERT_ALL_COLUMNS"/>
    </sql>

    <select id="getShopperInfoById" resultType="ShopperInfoDO">
        SELECT * FROM <include refid="TABLE_NAME" />
        WHERE id=#{id}
    </select>

</mapper>