<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dragon.cate.dao.mapper.shopper.ShopperMapper">

    <sql id="TABLE_NAME">
        basic_area_master
    </sql>

    <sql id="INSERT_ALL_COLUMNS">
        `code`, `name`, `operator_id`, `create_time`, `update_time`
    </sql>

    <sql id="SELECT_ALL_COLUMNS">
        `id`,
        <include refid="INSERT_ALL_COLUMNS"/>
    </sql>

    <resultMap id="areaResultMap" type="AreaMasterDO">
        <result column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="operator_id" property="operatorId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_valid" property="valid"/>
    </resultMap>

    <insert id="addArea" parameterType="AreaMasterDO" useGeneratedKeys="true" keyProperty="id">
        insert into
        <include refid="TABLE_NAME"/>
        (
        <include refid="INSERT_ALL_COLUMNS"/>
        )
        values( #{code}, #{name}, #{operatorId}, now(), now());
    </insert>

    <update id="updateArea" parameterType="AreaMasterDO">
        update
        <include refid="TABLE_NAME"/>
        <set>
            <if test="name != null and name != '' ">
                name = #{name},
            </if>
            <if test="code != null and code != '' ">
                code = #{code},
            </if>
            <if test="valid != null">
                is_valid = #{valid}
            </if>
            update_time = now()
        </set>
        WHERE id=#{id}
    </update>

    <select id="listAreas" resultMap="areaResultMap">
        select * from
        <include refid="TABLE_NAME"/>
        <where>
            is_valid = true
            <if test="code != null and code != ''">
                and code like CONCAT('%', #{code} ,'%')
            </if>
            <if test="name != null and name != ''">
                and name like CONCAT('%', #{name} ,'%')
            </if>
        </where>
        order by id desc limit #{limit} offset #{offset}
    </select>

    <select id="vagueListAreas" resultMap="areaResultMap">
        select * from
        <include refid="TABLE_NAME"/>
        where
        is_valid = true
        and (code like CONCAT('%', #{param} ,'%')
        or name like CONCAT('%', #{param} ,'%'))
        limit 10;
    </select>


    <select id="countAll" resultType="java.lang.Integer">
        SELECT count(*) FROM
        <include refid="TABLE_NAME"/>
        <where>
            is_valid = true
            <if test="code != null and code != '' ">
                and code like CONCAT('%', #{code} ,'%')
            </if>
            <if test="name != null and name != '' ">
                and name like CONCAT('%', #{name} ,'%')
            </if>
        </where>
    </select>

    <select id="queryAreaByCode" resultMap="areaResultMap">
        SELECT
        <include refid="SELECT_ALL_COLUMNS"/>
        FROM
        <include refid="TABLE_NAME"/>
        <where>
            is_valid = true
            <if test="code != null and code != ''">
                and code = #{code}
            </if>
        </where>
    </select>

    <select id="queryValidAreaById" parameterType="java.lang.Long" resultMap="areaResultMap">
        SELECT * FROM
        <include refid="TABLE_NAME"/>
        WHERE is_valid = true
        and id=#{id}
    </select>

    <select id="queryAreaById" parameterType="java.lang.Long" resultMap="areaResultMap">
        SELECT * FROM
        <include refid="TABLE_NAME"/>
        WHERE id=#{id}
    </select>

    <update id="deleteArea">
        UPDATE
        <include refid="TABLE_NAME"/>
        SET is_valid = FALSE
        where id = #{id}
    </update>

</mapper>