<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="titan.wms.common.dao.mapper.inbound.InboundTallyMapper" >
    <resultMap id="BaseResult" type="InboundTallyDO" >
        <result column="id" property="id"/>
        <result column="purchase_id" property="purchaseId"/>
        <result column="purchase_no" property="purchaseNo"/>
        <result column="inbound_id" property="inboundId"/>
        <result column="inbound_no" property="inboundNo"/>
        <result column="tally_no" property="tallyNo"/>
        <result column="approval_no" property="approvalNo"/>
        <result column="inspection_no" property="inspectionNo"/>
        <result column="tally_status" property="tallyStatus"/>
        <result column="plan_tally_count" property="planTallyCount"/>
        <result column="actual_tally_count" property="actualTallyCount"/>
        <result column="more_count" property="moreCount"/>
        <result column="less_count" property="lessCount"/>
        <result column="bad_count" property="badCount"/>
        <result column="diff" property="diff"/>
        <result column="tally_start_date" property="tallyStartDate"/>
        <result column="tally_finish_date" property="tallyFinishDate"/>
        <result column="tally_create_date" property="tallyCreateDate"/>
        <result column="tally_update_date" property="tallyUpdateDate"/>
        <result column="submit_exam_date" property="submitExamDate"/>
        <result column="exam_date" property="examDate"/>
        <result column="data_source" property="dataSource"/>
        <result column="overall" property="overall"/>
    </resultMap>

    <sql id="TableName">
        inbound_tally
    </sql>

    <sql id="BaseColumn" >
        `purchase_id`,
        `purchase_no`,
        `inbound_id`,
        `inbound_no`,
        `tally_no`,
        `approval_no`,
        `inspection_no`,
        `tally_status`,
        `plan_tally_count`,
        `actual_tally_count`,
        `more_count`,
        `less_count`,
        `bad_count`,
        `diff`,
        `tally_start_date`,
        `tally_finish_date`,
        `tally_create_date`,
        `tally_update_date`,
        `submit_exam_date`,
        `exam_date`,
        `data_source`,
        `overall`
    </sql>

    <insert id="insert" parameterType="InboundTallyDO" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
          <include refid="TableName" /> (<include refid="BaseColumn" />)
        VALUES(
          #{purchaseId},
          #{purchaseNo},
          #{inboundId},
          #{inboundNo},
          #{tallyNo},
          #{approvalNo},
          #{inspectionNo},
          #{tallyStatus},
          #{planTallyCount},
          #{actualTallyCount},
          #{moreCount},
          #{lessCount},
          #{badCount},
          #{diff},
          #{tallyStartDate},
          #{tallyFinishDate},
          #{tallyCreateDate},
          #{tallyUpdateDate},
          #{submitExamDate},
          #{examDate},
          #{dataSource},
          #{overall}
        )
    </insert>

    <select id="getById" resultMap="BaseResult">
        SELECT
          id, <include refid="BaseColumn" />
        FROM
          <include refid="TableName"/>
        WHERE
          id = #{id}
    </select>

    <delete id="deleteById">
        DELETE
        FROM
          <include refid="TableName"/>
        WHERE
          id = #{id}
    </delete>
</mapper>