<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="titan.wms.common.dao.mapper.inbound.InboundContainerSkuMapper">
    <resultMap id="InboundContainerSkuResultMap" type="InboundContainerSkuDO">
        <result column="id" property="id"/>
        <result column="container_code" property="containerCode"/>
        <result column="sku_barcode" property="skuBarcode"/>
        <result column="sku_name" property="skuName"/>
        <result column="sku_count" property="skuCount"/>
        <result column="quality_level" property="qualityLevel"/>
        <result column="carton_id" property="cartonId"/>
        <result column="manufacture_date" property="manufactureDate"/>
        <result column="expire_date" property="expireDate"/>
        <result column="purchase_no" property="purchaseNo"/>
        <result column="inspection_no" property="inspectionNo"/>
        <result column="service_no" property="serviceNo"/>
        <result column="operator_name" property="operatorName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="TableName">
        inbound_container_sku
    </sql>

    <sql id="BaseColumn">
        `container_code`,
        `sku_barcode`,
        `sku_name`,
        `sku_count`,
        `quality_level`,
        `carton_id`,
        `manufacture_date`,
        `expire_date`,
        `purchase_no`,
        `inspection_no`,
        `service_no`,
        `operator_name`,
        `create_time`,
        `update_time`
    </sql>

    <insert id="insert" parameterType="InboundContainerSkuDO" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        <include refid="TableName"/>
        (<include refid="BaseColumn"/>)
        VALUES(
        #{containerCode},
        #{skuBarcode},
        #{skuName},
        #{skuCount},
        #{qualityLevel},
        #{cartonId},
        #{manufactureDate},
        #{expireDate},
        #{purchaseNo},
        #{inspectionNo},
        #{serviceNo},
        #{operatorName},
        NOW(),
        NOW()
        )
    </insert>

    <select id="getById" resultMap="InboundContainerSkuResultMap">
        SELECT
        id,
        <include refid="BaseColumn"/>
        FROM
        <include refid="TableName"/>
        WHERE
        id = #{id}
    </select>

    <select id="getByContainerCode" resultMap="InboundContainerSkuResultMap">
        SELECT
        id,
        <include refid="BaseColumn"/>
        FROM
        <include refid="TableName"/>
        WHERE
        container_code = #{containerCode}
    </select>

    <select id="getByContainerCodeAndSkuBarcode" resultMap="InboundContainerSkuResultMap">
        SELECT
        id,
        <include refid="BaseColumn"/>
        FROM
        <include refid="TableName"/>
        WHERE
        container_code = #{containerCode}
        AND
        sku_barcode = #{skuBarcode}
    </select>

    <delete id="deleteById">
        DELETE
        FROM
        <include refid="TableName"/>
        WHERE
        id = #{id}
    </delete>
</mapper>