<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="titan.wms.common.dao.mapper.inside.InventoryAttributeMapper">
    <resultMap id="AllColumnMap" type="titan.wms.common.dao.meta.inside.InventoryAttributeDO">
        <result column="id" property="id"/>
        <result column="mfg_date" property="mfgDate"/>
        <result column="exp_date" property="expDate"/>
        <result column="batch_no" property="batchNo"/>
        <result column="inventory_quality" property="inventoryQuality"/>
        <result column="case_spec" property="caseSpec"/>
        <result column="origin_country_code" property="originCountryCode"/>
        <result column="receive_date" property="receiveDate"/>
        <result column="inspection_no" property="inspectionNo"/>
        <result column="purchase_no" property="purchaseNo"/>
        <result column="attribute1" property="attribute1"/>
        <result column="attribute2" property="attribute2"/>
        <result column="attribute3" property="attribute3"/>
        <result column="attribute4" property="attribute4"/>
        <result column="attribute5" property="attribute5"/>
        <result column="attribute6" property="attribute6"/>
        <result column="attribute7" property="attribute7"/>
        <result column="attribute8" property="attribute8"/>
        <result column="attribute9" property="attribute9"/>
        <result column="attribute10" property="attribute10"/>
        <result column="attribute11" property="attribute11"/>
        <result column="attribute12" property="attribute12"/>
        <result column="attribute13" property="attribute13"/>
        <result column="attribute14" property="attribute14"/>
        <result column="attribute15" property="attribute15"/>
        <result column="attribute16" property="attribute16"/>
        <result column="operator_id" property="operatorId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <sql id="SELECT_ALL_COLUMNS">
        `id`,
        <include refid="INSERT_ALL_COLUMNS"/>
    </sql>
    <sql id="TABLE_NAME">
        `inside_inventory_attribute`
    </sql>
    <sql id="INSERT_ALL_COLUMNS">
        `mfg_date`,
        `exp_date`,
        `batch_no`,
        `inventory_quality`,
        `case_spec`,
        `origin_country_code`,
        `receive_date`,
        `inspection_no`,
        `purchase_no`,
        `attribute1`,
        `attribute2`,
        `attribute3`,
        `attribute4`,
        `attribute5`,
        `attribute6`,
        `attribute7`,
        `attribute8`,
        `attribute9`,
        `attribute10`,
        `attribute11`,
        `attribute12`,
        `attribute13`,
        `attribute14`,
        `attribute15`,
        `attribute16`,
        `operator_id`,
        `create_time`,
        `update_time`
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO <include refid="TABLE_NAME" />
        (
        <include refid="INSERT_ALL_COLUMNS"/>
        )
        VALUES (
            #{mfgDate},
            #{expDate},
            #{batchNo},
            #{inventoryQuality},
            #{caseSpec},
            #{originCountryCode},
            #{receiveDate},
            #{inspectionNo},
            #{purchaseNo},
            #{attribute1},
            #{attribute2},
            #{attribute3},
            #{attribute4},
            #{attribute5},
            #{attribute6},
            #{attribute7},
            #{attribute8},
            #{attribute9},
            #{attribute10},
            #{attribute11},
            #{attribute12},
            #{attribute13},
            #{attribute14},
            #{attribute15},
            #{attribute16},
            #{operatorId},
            now(),
            now()
        )
    </insert>

    <select id="get" resultMap="AllColumnMap">
        select <include refid="SELECT_ALL_COLUMNS"/> from <include refid="TABLE_NAME"/>
        where id=#{id}
    </select>

    <select id="findId" resultType="long">
        select id
        from <include refid="TABLE_NAME"/>
        where
        `mfg_date` = #{mfgDate}
        and `exp_date` = #{expDate}
        and `batch_no` = #{batchNo}
        and `inventory_quality` = #{inventoryQuality}
        and `case_spec` = #{caseSpec}
        and `origin_country_code` = #{originCountryCode}
        and `receive_date` = #{receiveDate}
        and `inspection_no` = #{inspectionNo}
        and `purchase_no` = #{purchaseNo}
        and `attribute1` = #{attribute1}
        and `attribute2` = #{attribute2}
        and `attribute3` = #{attribute3}
        and `attribute4` = #{attribute4}
        and `attribute5` = #{attribute5}
        and `attribute6` = #{attribute6}
        and `attribute7` = #{attribute7}
        and `attribute8` = #{attribute8}
        and `attribute9` = #{attribute9}
        and `attribute10` = #{attribute10}
        and `attribute11` = #{attribute11}
        and `attribute12` = #{attribute12}
        and `attribute13` = #{attribute13}
        and `attribute14` = #{attribute14}
        and `attribute15` = #{attribute15}
        and `attribute16` = #{attribute16}
    </select>
</mapper>

