<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "classpath:dtd/mybatis-3-mapper.dtd" >
<mapper namespace="titan.wms.common.dao.mapper.inside.InventoryQueryMapper">

	<!--auto generated Code-->
	<resultMap id="AllColumnMap" type="titan.wms.common.dao.meta.inside.InventoryDO">
		<result column="id" property="id"/>
		<result column="location_code" property="locationCode"/>
		<result column="sku_code" property="skuCode"/>
		<result column="attribute_id" property="attributeId"/>
		<result column="container_code" property="containerCode"/>
		<result column="client_code" property="clientCode"/>
		<result column="on_hand_count" property="onHandCount"/>
		<result column="allocated_count" property="allocatedCount"/>
		<result column="frozen_count" property="frozenCount"/>
		<result column="operator_id" property="operatorId"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>
	<!--auto generated Code-->
	<resultMap id="FullInfoMap" type="titan.wms.common.dao.meta.inside.vo.InventoryFullInfo">
		<result column="id" property="id"/>
		<result column="location_code" property="locationCode"/>
		<result column="sku_code" property="skuCode"/>
		<result column="attribute_id" property="attributeId"/>
		<result column="container_code" property="containerCode"/>
		<result column="client_code" property="clientCode"/>
		<result column="on_hand_count" property="onHandCount"/>
		<result column="allocated_count" property="allocatedCount"/>
		<result column="frozen_count" property="frozenCount"/>
		<result column="sku_name" property="skuName"/>
		<result column="sku_barcode" property="skuBarcode"/>
		<result column="client_name" property="clientName"/>
		<result column="mfg_date" property="mfgDate"/>
		<result column="exp_date" property="expDate"/>
		<result column="case_spec" property="caseSpec"/>
		<result column="inventory_quality" property="inventoryQuality"/>
		<result column="quality_guarantee_days" property="qualityGuaranteeDays"/>
		<result column="inspection_no" property="inspectionNo"/>
		<result column="operator_id" property="operatorId"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>

	<sql id="TABLE_NAME">
		`inside_inventory`
	</sql>

	<sql id="INSERT_ALL_COLUMNS">
		`inside_inventory`.`location_code`,
		`inside_inventory`.`sku_code`,
		`inside_inventory`.`attribute_id`,
		`inside_inventory`.`container_code`,
		`inside_inventory`.`client_code`,
		`inside_inventory`.`on_hand_count`,
		`inside_inventory`.`allocated_count`,
		`inside_inventory`.`frozen_count`,
		`inside_inventory`.`operator_id`,
		`inside_inventory`.`create_time`,
		`inside_inventory`.`update_time`
	</sql>

	<sql id="SELECT_ALL_COLUMNS">
		`inside_inventory`.`id`,
		<include refid="INSERT_ALL_COLUMNS"/>
	</sql>

	<sql id="queryCondition">
		<if test="query.locationCode != null ">
			and `inside_inventory`.location_code = #{query.locationCode}
		</if>
		<if test="query.skuCode != null">
			and `inside_inventory`.sku_code = #{query.skuCode}
		</if>
		<if test="query.attributeId != null">
			and `inside_inventory`.attribute_id = #{query.attributeId}
		</if>
		<if test="query.containerCode != null">
			and `inside_inventory`.container_code = #{query.containerCode}
		</if>
		<if test="query.clientCode != null ">
			and `inside_inventory`.client_code = #{query.clientCode}
		</if>
	</sql>

	<select id="count" resultType="java.lang.Integer">
		select count(1)
		from <include refid="TABLE_NAME" />
		<where>
			<include refid="queryCondition"/>
		</where>
	</select>

	<select id="list" resultMap="AllColumnMap">
		select <include refid="SELECT_ALL_COLUMNS"/>
		from <include refid="TABLE_NAME" />
		<where>
			<include refid="queryCondition"/>
		</where>
	</select>

	<select id="findByIds" resultMap="AllColumnMap">
		select <include refid="SELECT_ALL_COLUMNS"/>
		from <include refid="TABLE_NAME" />
		where id in
			<foreach collection="ids" item="id" separator="," open="(" close=")">
				#{id}
			</foreach>
	</select>

	<select id="find" resultMap="AllColumnMap">
		select <include refid="SELECT_ALL_COLUMNS"/>
		from <include refid="TABLE_NAME" />
		join basic_sku_reference on inside_inventory.sku_code=basic_sku_reference.sku_code and inside_inventory.client_code=basic_sku_reference.client_code
		where
		inside_inventory.location_code=#{locationCode}
		<if test="containerCode != null ">
			and `inside_inventory`.container_code = #{containerCode}
		</if>
		and basic_sku_reference.sku_barcode = #{barcode}
		order by id
	</select>

	<select id="getById" resultMap="AllColumnMap">
		select <include refid="SELECT_ALL_COLUMNS"/>
		from <include refid="TABLE_NAME" />
		where id = #{id}
	</select>

	<sql id="fullQueryCondition">
		<include refid="queryCondition"/>

		<if test="query.purchaseNo != null ">
			and `inside_inventory_attribute`.purchase_no = #{query.purchaseNo}
		</if>
		<if test="query.attribute1 != null ">
			and `inside_inventory_attribute`.attribute1 = #{query.attribute1}
		</if>
		<if test="query.inventoryQuality != null ">
			and `inside_inventory_attribute`.inventory_quality = #{query.inventoryQuality}
		</if>
		<if test="query.inspectionNo != null ">
			and `inside_inventory_attribute`.inspection_no = #{query.inspectionNo}
		</if>
		<if test="query.startExpDate != null ">
			and `inside_inventory_attribute`.exp_date <![CDATA[ <= ]]> #{query.startExpDate}
		</if>
		<if test="query.endExpDate != null ">
			and `inside_inventory_attribute`.exp_date >= #{query.endExpDate}
		</if>
		<if test="query.channel != null ">
			and `basic_goods_location_master`.channel >= #{query.channel}
		</if>
		<if test="query.skuBarcode != null ">
			and `basic_sku_reference`.sku_barcode = #{query.skuBarcode}
		</if>
	</sql>

	<select id="countAll" resultType="java.lang.Integer">
		select count(distinct `inside_inventory`.id)
		from `inside_inventory`
		join `inside_inventory_attribute` on `inside_inventory`.`attribute_id` = `inside_inventory_attribute`.`id`
		join `basic_client_master` on `inside_inventory`.`client_code` = `basic_client_master`.`code`
		join `basic_sku_master` on `inside_inventory`.`sku_code` = `basic_sku_master`.`sku_code` and `inside_inventory`.`client_code` = `basic_sku_master`.`client_code`
		join `basic_goods_location_master` on `inside_inventory`.`location_code` = `basic_goods_location_master`.`code`
		join `basic_sku_reference` on `basic_sku_master`.`id` = `basic_sku_reference`.`sku_id`
		<where>
			<include refid="fullQueryCondition"/>
		</where>
	</select>

	<select id="listFullInfo" resultMap="FullInfoMap">
		select <include refid="SELECT_ALL_COLUMNS"/>
		,`inside_inventory_attribute`.`mfg_date`,`inside_inventory_attribute`.`exp_date`,`inside_inventory_attribute`.`case_spec`
		,`inside_inventory_attribute`.`inventory_quality`,`inside_inventory_attribute`.`inspection_no`
		,`basic_client_master`.`name` client_name
		,`basic_sku_master`.`sku_name`,`basic_sku_master`.`quality_guarantee_days`
		,`basic_sku_reference`.`sku_barcode`
		from `inside_inventory`
		join `inside_inventory_attribute` on `inside_inventory`.`attribute_id` = `inside_inventory_attribute`.`id`
		join `basic_client_master` on `inside_inventory`.`client_code` = `basic_client_master`.`code`
		join `basic_sku_master` on `inside_inventory`.`sku_code` = `basic_sku_master`.`sku_code`
		join `basic_goods_location_master` on `inside_inventory`.`location_code` = `basic_goods_location_master`.`code`
		join `basic_sku_reference` on `basic_sku_master`.`id` = `basic_sku_reference`.`sku_id`
		<where>
			<include refid="fullQueryCondition"/>
		</where>
		group by `inside_inventory`.id
		order by `inside_inventory`.id desc limit #{limit} offset #{offset}
	</select>


	<select id="listGoodsLocationCodeBySkuBarCode" resultType="java.lang.String">
		select location_code from
		<include refid="TABLE_NAME"/> where sku_bar_code in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

	<select id="getLocationCodeBySkuBarCodeAndInspectionNo" resultType="java.lang.String">
		select a.inspection_no from <include refid="TABLE_NAME"/>  i inner join inside_inventory_attribute a on i.attribute_id = a.id where i.sku_barcode = #{skuBarCode} and a.inspection_no = #{inspectionNo}
	</select>

</mapper>