<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="titan.wms.common.dao.mapper.inside.PlannedMoveOrderMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="titan.wms.common.dao.meta.inside.PlannedMoveOrderDO">
        <result column="id" property="id"/>
        <result column="status" property="status"/>
        <result column="task_count" property="taskCount"/>
        <result column="inventory_count" property="inventoryCount"/>
        <result column="operator_id" property="operatorId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `id`,
        <include refid="insert_column"/>
    </sql>

    <sql id="insert_column">
        `status`,
        `task_count`,
        `inventory_count`,
        `operator_id`,
        `create_time`,
        `update_time`
    </sql>

    <sql id="table_name">
        `inside_planned_move_order`
    </sql>
    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO <include refid="table_name"/> (
            <include refid="insert_column"/>
        ) VALUES (
            #{pojo.status},
            #{pojo.taskCount},
            #{pojo.inventoryCount},
            #{pojo.operatorId},
            now(),
            now()
        )
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE <include refid="table_name"/>
        <set>
            <if test="pojo.id != null"> `id` = #{pojo.id}, </if>
            <if test="pojo.status != null"> `status` = #{pojo.status}, </if>
            <if test="pojo.taskCount != null"> `task_count` = #{pojo.taskCount}, </if>
            <if test="pojo.inventoryCount != null"> `inventory_count` = #{pojo.inventoryCount}, </if>
            <if test="pojo.operatorId != null"> `operator_id` = #{pojo.operatorId}, </if>
            `update_time` = now()
        </set>
        WHERE id = #{pojo.id}
    </update>

    <sql id="where_condition">
        <where>
            <if test="query.id != null ">
                and id = #{query.id}
            </if>
            <if test="query.status != null ">
                and status = #{query.status}
            </if>
            <if test="query.startTime != null ">
                and create_time >= #{query.startTime}
            </if>
            <if test="query.endTime != null ">
                and status &lt;= #{query.endTime}
            </if>
        </where>
    </sql>

    <select id="countAll">
        select count(1)
        from <include refid="table_name"/>
        <include refid="where_condition"/>
    </select>

    <select id="list" resultMap="AllColumnMap">
        select <include refid="all_column"/>
        from <include refid="table_name"/>
        <include refid="where_condition"/>
        order by id desc limit #{limit} offset #{offset}
    </select>

    <select id="listUser" resultType="titan.wms.common.dao.meta.inside.PlannedMoveUserDO">
        select planned_move_order_id plannedMoveOrderId,user_id userId,user_name userName
        from `inside_planned_move_user`
        where planned_move_order_id = #{moveOrderId}
    </select>

    <insert id="insertUser">
        insert into `inside_planned_move_user`
        `planned_move_order_id`,`user_id`,`user_name`, `operator_id`,`create_time`,`update_time`
        values
        (#{plannedMoveOrderId},#{userId},#{userName},#{operatorId},now(),now())
    </insert>

    <delete id="deleteUser">
        delete from `inside_planned_move_user`
        where `planned_move_order_id` = #{moveOrderId}
    </delete>

</mapper>

