<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="titan.wms.common.dao.mapper.inside.StocktakingDetailMapper" >
    <resultMap id="BaseResult" type="StocktakingDetailDO" >
        <result column="id" property="id"/>
        <result column="stocktaking_task_no" property="stocktakingTaskNo"/>
        <result column="sku_code" property="skuCode"/>
        <result column="sku_barcode" property="skuBarcode"/>
        <result column="attribute_id" property="attributeId"/>
        <result column="system_count" property="systemCount"/>
        <result column="real_count" property="realCount"/>
        <result column="operator_id" property="operatorId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="TableName">
        inside_stocktaking_detail
    </sql>

    <sql id="BaseColumn" >
        `stocktaking_task_no`,
        `sku_code`,
        `sku_barcode`,
        `attribute_id`,
        `system_count`,
        `real_count`,
        `operator_id`,
        `create_time`,
        `update_time`
    </sql>

    <insert id="insert" parameterType="StocktakingDetailDO" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
          <include refid="TableName" /> (<include refid="BaseColumn" />)
        VALUES(
          #{stocktakingTaskNo},
          #{skuCode},
          #{skuBarcode},
          #{attributeId},
          #{systemCount},
          #{realCount},
          #{operatorId},
          NOW(),
          NOW()
        )
    </insert>

    <select id="getById" resultMap="BaseResult">
        SELECT
          id, <include refid="BaseColumn" />
        FROM
          <include refid="TableName"/>
        WHERE
          id = #{id}
    </select>

    <delete id="deleteById">
        DELETE
        FROM
          <include refid="TableName"/>
        WHERE
          id = #{id}
    </delete>
</mapper>