<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "classpath:dtd/mybatis-3-mapper.dtd" >
<mapper namespace="titan.wms.common.dao.mapper.auth.GroupMapper">

	<resultMap id="groupMap" type="GroupDO">
		<id column="id" property="id" jdbcType="DECIMAL" />
		<result column="group_name" property="groupName" jdbcType="VARCHAR" />
		<result column="group_desc" property="groupDesc" jdbcType="VARCHAR" />
		<result column="create_user_id" property="createUserId"
			jdbcType="DECIMAL" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
	</resultMap>
	<sql id="TABLE_NAME">
		auth_group
	</sql>


	<select id="listAllGroups" resultMap="groupMap">
		select * from
		<include refid="TABLE_NAME" />
	</select>

	<select id="countGroups" resultType="java.lang.Integer">
		select count(id) from
		<include refid="TABLE_NAME" />
		<where>
			<if test="groupName!=null">
				group_name like CONCAT('%', #{groupName} ,'%')
			</if>
		</where>
	</select>

	<select id="listGroups" resultMap="groupMap">
		select * from
		<include refid="TABLE_NAME" />
		<where>
			<if test="groupName!=null">
				group_name like CONCAT('%', #{groupName} ,'%')
			</if>
		</where>
		limit #{limit} offset #{offset}
	</select>

	<select id="getByName" resultMap="groupMap">
		select * from
		<include refid="TABLE_NAME" />
		where group_name=#{groupName}
	</select>
	

	<select id="getById" resultMap="groupMap">
		select * from
		<include refid="TABLE_NAME" />
		where id=#{groupId}
	</select>

	<insert id="insertGroup" parameterType="GroupDO"
		useGeneratedKeys="true" keyProperty="id">
		insert into
		<include refid="TABLE_NAME" />
		(group_name,group_desc,create_user_id,create_time,update_time)values
		(#{groupName},#{groupDesc},#{createUserId},now(),now())
	</insert>

	<update id="updateGroup" parameterType="GroupDO">
		update
		<include refid="TABLE_NAME" />
		set
		group_name=#{groupName},group_desc=#{groupDesc},update_time=now()
		where id=#{id}
	</update>

	<delete id="deleteGroup">
		delete from
		<include refid="TABLE_NAME" />
		where id=#{groupId}
	</delete>
</mapper>