<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "classpath:dtd/mybatis-3-mapper.dtd" >
<mapper namespace="titan.wms.common.dao.mapper.auth.UserRoleMapper">

	<resultMap id="userRoleMap" type="UserRoleDO">
		<id column="id" property="id" jdbcType="DECIMAL" />
		<result column="user_d" property="userId" jdbcType="DECIMAL" />
		<result column="role_id" property="roleId" jdbcType="DECIMAL" />
		<result column="create_user_id" property="createUserId"
			jdbcType="DECIMAL" />
		<result column="create_time" property="createTime" />

		<result column="user_account" property="userAccount" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="role_name" property="roleName" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="TABLE_NAME">
        auth_user_role
    </sql>
    <sql id="USER_TABLE_NAME">
        auth_user
    </sql>
    <sql id="ROLE_TABLE_NAME">
        auth_role
    </sql>
    
    <select id="getByUserIdAndRoleId" resultMap="userRoleMap">
    	select * from <include refid="TABLE_NAME" /> where user_id=#{userId} and role_id=#{roleId}
    </select>
	
	<insert id="insertUserRole" parameterType="UserRoleDO"
		useGeneratedKeys="true" keyProperty="id">
		insert into
		<include refid="TABLE_NAME" /> (user_id,role_id,create_user_id,create_time)
		values(#{userId},#{roleId},#{createUserId},now())
	</insert>
	<delete id="deleteUserRole">
		delete from <include refid="TABLE_NAME" /> where id=#{id};
	</delete>
	<delete id="deleteByUserId">
		delete from <include refid="TABLE_NAME" /> where user_id=#{userId};
	</delete>
	<delete id="deleteByRoleId">
		delete from <include refid="TABLE_NAME" /> where role_id=#{roleId};
	</delete>
	
	<select id="listByUserId" resultMap="userRoleMap">
		select ur.*,r.role_name
		role_name,u.account user_account,u.user_name user_name
		from <include refid="TABLE_NAME" />
		ur
		left join <include refid="ROLE_TABLE_NAME" /> r on ur.role_id=r.id
		left join <include refid="USER_TABLE_NAME" /> u on
		ur.user_id=u.id
		where user_id=#{userId}
	</select>
	<select id="listByRoleId" resultMap="userRoleMap">
		select ur.*,r.role_name
		role_name,u.account user_account,u.user_name user_name
		from <include refid="TABLE_NAME" />
		ur
		left join <include refid="ROLE_TABLE_NAME" /> r on ur.role_id=r.id
		left join <include refid="USER_TABLE_NAME" /> u on
		ur.user_id=u.id
		where role_id=#{roleId}
	</select>
</mapper>