<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="titan.wms.common.dao.mapper.common.WarehouseWarnMapper" >
    <resultMap id="BaseResult" type="WarehouseWarnDO" >
        <result column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="step" property="step"/>
        <result column="location_code" property="locationCode"/>
        <result column="reason" property="reason"/>
        <result column="info" property="info"/>
        <result column="is_handled" property="handled"/>
        <result column="hand_user_id" property="handUserId"/>
        <result column="hand_user_name" property="handUserName"/>
        <result column="hand_result" property="handResult"/>
        <result column="hand_time" property="handTime"/>
        <result column="operate_id" property="operateId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="TableName">
        common_warehouse_warn
    </sql>

    <sql id="BaseColumn" >
        `type`,
        `step`,
        `location_code`,
        `reason`,
        `info`,
        `is_handled`,
        `hand_user_id`,
        `hand_user_name`,
        `hand_result`,
        `hand_time`,
        `operate_id`,
        `create_time`,
        `update_time`
    </sql>

    <insert id="insert" parameterType="WarehouseWarnDO" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
          <include refid="TableName" /> (<include refid="BaseColumn" />)
        VALUES(
          #{type},
          #{step},
          #{locationCode},
          #{reason},
          #{info},
          #{handled},
          #{handUserId},
          #{handUserName},
          #{handResult},
          #{handTime},
          #{operateId},
          NOW(),
          NOW()
        )
    </insert>

    <select id="getById" resultMap="BaseResult">
        SELECT
          id, <include refid="BaseColumn" />
        FROM
          <include refid="TableName"/>
        WHERE
          id = #{id}
    </select>

    <delete id="deleteById">
        DELETE
        FROM
          <include refid="TableName"/>
        WHERE
          id = #{id}
    </delete>
</mapper>